<div class="overflow-x-auto p-6">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Capital</th>
          <th>Zona horaria</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        @for (country of countries(); track country.cca2; let index = $index ) {

          <tr>
            <td>
              <div class="flex items-center gap-3">
                <div class="avatar">
                  <div class="mask mask-squircle h-12 w-12">
                    <img
                      [src]="[country.flagSvg]"
                      [alt]="[country.name]" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">{{country.name}}</div>
                  <div class="text-sm opacity-50">{{country.flag}}</div>
                </div>
              </div>
            </td>
            <td>
              {{country.capital}}
              <br />
              <span class="badge badge-ghost badge-sm">Poblacion: {{country.population}} habitantes</span>
            </td>
            <th>
              {{country.zoneTime}}
            </th>
            <th>
              <button class="btn btn-ghost btn-xs">details</button>
            </th>
          </tr>
        }
    </table>
</div>